.boton {
  background-color: rgb(0, 110, 255);
  border-radius: 5px;
  border-color: rgb(170, 170, 170);
  width: 150px;
  height: 40px;
  transition: .5s;
  font-size: 15px;
}

.boton:hover {
  background-color: rgb(153, 0, 255);
  border-color: rgb(102, 111, 242);
}

