.inputtext {
    width: 200px;
    height: 20px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
}

.selector {
    width: 150px;
    height: 26px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
}

.botonsearch {
    width: 100px;
    height: 26px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
    transition: .3s;
    font-weight: bold;
}
.botonsearch:hover{
    background-color: rgb(134, 248, 144);
}

.recipes{
    margin-top: 20px;
  display: flex;
  justify-content: center;
}

.botonCreateRecipe{
    width: 120px;
    height: 26px;
    border-radius: 5px;
    border-color: rgb(192, 192, 192);
    transition: .3s;
    font-weight: bold;
}